---
import moominBubble from "../assets/moomin_bubble.jpg";
---

<div id="landing-card">
    <div class="left-column">
        <h1>Kaylee Dinh</h1>
        <p>
            Hello hello! I'm a high school student who enjoys making websites.
        </p>
    </div>
    <div id="moominBubble">
        <img src={moominBubble.src} alt="moomin bubble image" />
    </div>
</div>

<style>
    html {
        text-align: center;
    }

    #landing-card {
        display: grid;
        grid-template-columns: 60% 40%;
        overflow: hidden;
        /* display: flex;
        flex-direction: column; */
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        width: 80vw;
        /* From https://css.glass */
        /* background: rgba(255, 255, 255, 0.2); */
        border-radius: 16px;
        border-style: solid;
        border-color: none;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-image: radial-gradient(
            rgba(255, 255, 255, 0.37),
            rgba(255, 255, 255, 0.622)
        );
    }

    .left-column {
        padding: 100px;
    }

    #moominBubble {
        height: 80%;
        width: auto;
        margin: auto;
        align-items: center;
        justify-content: space-around;
        display: flex;
        /* idk what i'm doing
        this needs to be more responsive */
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 50%;
        border-color: none;
        border-style: solid;
        object-fit: fill;
    }

    h1 {
        font-size: 80px;
        padding-bottom: 0px;
        margin: 0px;
    }
</style>
