<style>
    ul {
        list-style: none;
        display: flex;
    }

    li {
        padding-right: 4em;
    }

    #nav-bar {
        display: flex;
        justify-content: center;
        background-image: radial-gradient(blue, white);
        color: white;
        position: absolute;
        width: 100vw;
        top: 0px;
    }
</style>

<div id="nav-bar">
    <ul>
        <li class="nav-button">
            <span style="font-weight: bold;">Kaylee Dinh's Website</span>
        </li>
        <li class="nav-button">About Me</li>
        <li class="nav-button">Projects</li>
    </ul>
</div>
